<h1>{{title}}</h1>
<div id="uploadForm" class="custom-file mb-3">
    <input type="file" name="file" id="file" class="custom-file-input">
    <label for="file" class="custom-file-label">Choose File</label>
    <input type="button" onclick="uploadImg()" value="Upload">
</div>
<div id="content"></div>
<script>
    function uploadImg() {
        var fData = new FormData();
        fData.append('file', file);
        fetch('/api/photos', {
            method: 'post',
            body: fData
        })
            .then(function (response) {
                return response.json();
            })
            .then(data => {
                console.log(data.success);
            })
            .catch(err => console.log(err));
    }
    $(function () {
        var tok = window.sessionStorage.getItem('authorization');
        if (tok) {
            fetch('/api/photos', {
                method: 'get',
                headers: {
                    "Content-Type": "application/json",
                    "authorization": tok
                }
            })
                .then(function (response) {
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        console.log(data);
                        var contentCards = '<div class="row">';
                        data.images.forEach(function (item) {
                            contentCards += '<div class="card col-sm-6 col-md-4 col-lg-3" style="width: 18rem;"><img class="card-img-top" src="' + item + '" alt="Card image cap"><div class="card-body"><h5 class="card-title">Card title</h5><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card\'s content.</p><a href="#" class="btn btn-primary">Go somewhere</a></div></div>';
                        });
                        contentCards += '</div>';
                        $("#content").html(contentCards);
                    } else {
                        document.getElementById("uploadForm").style.display = "none";
                    }
                })
                .catch(err => console.log(err));
        }
    })
</script>