<h1>{{title}}</h1>
<div id="uploadForm" class="custom-file mb-3">
    <form>
        <div class="row">
            <div class="col-sm-9">
                <input type="file" name="file" id="fileInput" class="custom-file-input">
                <label for="file" class="custom-file-label">Choose File</label>
            </div>
            <div class="col-sm-3">
                <input type="button" class="btn btn-primary" style="width: 100%;" onclick="uploadImg()" value="Upload">
            </div>
        </div>
    </form>
</div>
<div id="contentCards"></div>
<script>
    function uploadImg() {
        var fInput = document.getElementById("fileInput");
        var fData = new FormData();
        fData.set('file', fInput.files[0]);
        var tok = window.sessionStorage.getItem('authorization');
        if (tok) {
            fetch('/api/photos', {
                method: 'post',
                headers: {
                    "authorization": tok
                },
                body: fData
            })
                .then(function (response) {
                    return response.json();
                })
                .then(data => {
                    window.location.href = "/";
                })
                .catch(err => console.log(err));
        }
    }
    $(function () {
        var tok = window.sessionStorage.getItem('authorization');
        var uForm = document.getElementById("uploadForm");
        if (tok) {
            uForm.style.display = "block";
            fetch('/api/photos', {
                method: 'get',
                headers: {
                    "Content-Type": "application/json",
                    "authorization": tok
                }
            })
                .then(function (response) {
                    return response.json();
                })
                .then(files => {
                    if (files) {
                        var cards = '<div class="row">';
                        files.forEach(function (file) {
                            cards += '<div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="width: 18rem;"><img class="card-img-top" src="image/' + file.filename + '" alt="Card image cap"><div class="card-body"><h5 class="card-title">Card title</h5><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card\'s content.</p><a href="#" class="btn btn-primary">Go somewhere</a></div></div>';
                        });
                        cards += '</div>';
                        $("#contentCards").html(cards);
                    }
                })
                .catch(err => console.log(err));
        } else {
            uForm.style.display = "none";
        }
    })
</script>