<h1  align="center">{{title}}</h1>
<div id="loginError" class="alert alert-danger" style="display: none">
  <strong>Error!</strong> Uncorrect e-mail or password.
</div>
<form method="POST" id="form1">
  <div class="form-group">
    <label for="email">Email address</label>
    <input required type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input required name="password" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="button" onclick="fLogin()" class="btn btn-primary">Log In</button>
</form>

<script>
  function fLogin() {
    email = $("#email").val();
    password = $("#password").val();
    console.log("YES");
    fetch('/login', {
      method: 'post',
      body: JSON.stringify({ 'email': email, 'password': password }),
      headers: {
        "Content-Type": "application/json"
      }
    })
      .then(function (response) {
        return response.json();
      })
      .then(data => {
        if(data.token != '') {
        window.sessionStorage.setItem('authorization', 'Bearer ' + data.token);
        window.location.href = "/";
        } else {
          $("#loginError").show();
        }
      })
      .catch(err => console.log(err));
  }
</script>