<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<<<<<<< HEAD
<form method="post">
<input type="text" name="userName" id="userName">
<input type="text" name="email" id="email">
<input type="password" name="password" id="password">
<input type="submit" value="Register">
</form>
=======
>>>>>>> daf276dbd153adbec1ca8ee986d993d977352907
